/* Components */

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #0d121f;
  color: white;
  font-size: 40px;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* Hero Component */

.Hero h1 {
  margin: 0px;
  text-align: left;
  width: 100%;
  max-width: 1000px;
}

.Hero p {
  text-align: left;
  width: 100%;
  max-width: 1000px;
  font-size: 1.5rem;
}

.hero-buttons {
  width: 100%;
  max-width: 1000px;
  opacity: 0;
}

.nav {
  position: absolute;
  width: 100%;
  max-width: 1000px;

  display: flex;
  justify-content: flex-end;
}

.nav > a {
  font-size: 18px;
}

/* Text */

h4 {
  margin-bottom: 0;
  margin-top: 0;
}

.text > h1 {
  margin-bottom: 21px;
}

.text > p {
  margin-top: 5px;
}

/* Buttons */

.btn {
  background-color: #e59400 !important;

  border: none;
  color: white;
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
  margin: 2px;
  border-radius: 20px !important;
}

.btn:hover {
  background-color: #a5656d !important;
  cursor: pointer;
}

.inverse {
  background-color: #c97b84 !important;
  font-size: 20px;
  border-radius: 30px !important;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Preview */

body {
  background-color: #0d121f;
}
a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bottom {
  position: absolute;
  bottom: 0;
}

.bottom:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Project */

/* Project Component */

.projects {
  background-color: #0d121f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 40px;
}

.text {
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 30px;
  width: 100%;
  font-size: 1.5rem;
}

.preview {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .text {
    width: 100% !important;
  }

  .preview {
    width: 100% !important;
  }

  .right,
  .left {
    width: 100% !important;
  }

  .project-title {
    text-align: center !important;
  }

  .project-description {
    text-align: center !important;
  }

  .buttons {
    justify-content: center !important;
  }
}

.preview > img {
  width: 100%;
}

.buttons {
  display: flex;

  flex-wrap: wrap;
  margin-left: -0.5vw;
  width: 100%;

  /* background-color: #373a45; */
}

.button {
  padding: 0.5vw;
}

.project-btn {
  border-radius: 20px;
  /* margin-left: 10px; */
}

.project-content {
  display: flex;

  flex-wrap: wrap;

  padding-left: 5vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 5vw;
}

.section-heading {
  color: white;
  font-size: 4rem;
  width: 100%;
  margin: 0;
}

/* CONTACT */

.contact-me {
  background-color: #0d121f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 40px;
  width: 80vw;
}

.contact-me form {
  background-color: #232733;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 5vw;
  margin-top: 20px;
  margin-bottom: 100px;
}

input {
  color: white;
}

input:focus {
  border-bottom: solid 2px #c97b84 !important;
  box-shadow: none !important;
}

.submit {
  margin-top: 50px;
}

/* New Project */

.Project {
  padding-top: 20px;
  margin-bottom: 3vh;
  border-radius: 20px;
  max-width: 1000px;

  background-color: #232733;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
}

.project-title {
  width: 100%;

  font-size: 2rem;
}

.project-description {
  font-size: 1rem;
}

.screenImage {
  width: 100%;
}

.left,
.right {
  max-width: 500px;
  padding: 1vw;
  width: 50%;
}

.tags {
  display: flex;
}
