/* Components */

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d121f;
  color: white;
  font-size: 40px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0d121f;
  padding: 10vw;
  color: white;

  max-width: 1000px;
}

/* Hero Component */

.Hero > h1 {
  margin: 0px;
  text-align: left;
  width: 100%;
  max-width: 1000px;
}

.Hero > p {
  text-align: left;
  width: 100%;
  max-width: 1000px;
}

.hero-buttons {
  width: 100%;
  max-width: 1000px;
  opacity: 0;
}

.nav {
  position: absolute;
  width: 100%;
  max-width: 1000px;

  display: flex;
  justify-content: flex-end;
}

.nav > a {
  font-size: 18px;
}

/* Text */

h4 {
  margin-bottom: 0;
  margin-top: 0;
}

.text > h1 {
  margin-bottom: 21px;
}

.text > p {
  margin-top: 5px;
}

/* Buttons */

.btn {
  background-color: #c97b84;

  border: none;
  color: white;
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
  margin: 2px;
  /* border-radius: 20px; */
}

.btn:hover {
  background-color: #a5656d;
  cursor: pointer;
}

.inverse {
  background-color: #c97b84;
  font-size: 20px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Preview */

body {
  background-color: #0d121f;
}
a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bottom {
  position: absolute;
  bottom: 0;
}

.bottom:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Project */

/* Project Component */

.Project {
  display: flex;
  justify-content: space-evenly;

  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-bottom: 100px;
  border-radius: 20px;

  background-color: #232733;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-title {
  width: 100%;
  text-align: center;
}

.text {
  width: 50%;

  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 20px;
  padding-right: 20px;
}

.preview {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.preview > img {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  width: 100%;
  margin-top: 10px;
  background-color: #373a45;
  padding: 10px;
}

.project-btn {
  border-radius: 20px;
  margin-left: 10px;
}

.project-content {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.section-heading {
  color: white;
  font-size: 120px;
  width: 100%;
  margin: 0;
}
